
/.idea
/examples/numba experiments

/docs/build
.ipynb_checkpoints

.cache
/workspace
/algorithm_reference_library.egg-info/

dask-worker-space
*/notebooks/*_files
*/notebooks/*.rst
*/scripts/*.rst
*.log
*.lock
*.hdf5
*.pyc
/build
/test_results
*.so
*.egg
/rascil/data_models/.idea
*.fits
/sourcetree.txt
/docs/api
*/*/notebooks/*_files
*/*/notebooks/*.rst
*/*/scripts/*.rst
/docs/examples/notebooks
