aotools
astropy
bokeh
dask
distributed
h5py
jupyter
jupyter_contrib_nbextensions
matplotlib
numba
numpy
paramiko
photutils
python-casacore
graphviz
reproject
scikit-image
scipy
seqfile
ConfigParser
tabulate
