aotools
astropy
bokeh
dask
distributed
h5py
matplotlib
numba
numpy
paramiko
photutils
python-casacore
reproject
scikit-image
scipy
seqfile
jupyter
jupyter_contrib_nbextensions
graphviz
sphinx
sphinx_rtd_theme
sphinx_automodapi